mixin alarm()
    section.alarm-button.des.anim.slide-in-top   
        h3 Дополнительные услуги             
        .alarm-hand 
        .alarm-content
            h2.
                Установите приложение TOP SECURITY KZ  #[br]
                и вы всегда будете под защитой

            p.

                Первое мобильное приложение -“Тревожная #[br] кнопка”, разработанное в Казахстане. #[br]#[br]

                Top Security KZ - тревожная кнопка для вызова #[br] мобильной группы в твоем смартфоне. #[br]#[br]

                Мобильное приложение “Тревожная кнопка” - #[br] собственная разработка Top Security KZ: #[br]
                - Своя техническая поддержка.#[br]
                - Реагирование 24/7.   #[br] 
                - Своя мобильная группа оперативного #[br] реагирования.#[br]
                - Консультации по использованию приложения.
            a(href="http://app.topsecurity.kz/",target="_blank")
                button Подробнее    
    section.alarm-button.mob
        h3 Дополнительные услуги 
        img(src=path + "alarm-hand.png", alt="")
        .alarm-content
            h2.
                С Приложением #[br]
                top security kz #[br]
                вы всегда будете под #[br] надежной защитой
            span.
                Первое мобильное #[br] приложение #[br] -“Тревожная кнопка”, #[br] разработанное #[br]
                в Казахстане.
            a(href="http://app.topsecurity.kz/",target="_blank")
                button Подробнее     
                
       
                 