mixin alarm()
    section.alarm-button.des.anim.slide-in-top   
        h3 Дополнительные услуги             
        .alarm-hand 
        .alarm-content
            h2.
                Мобильный телохранитель. Защита 24/7
            p.

                Уникальная услуга предоставления надежной защиты нашим клиентам при наступлении кризисных ситуаций, угрожающих их жизни и здоровью. 
                #[br] #[br] Достаточно нажать на «тревожную кнопку» в приложении в мобильном телефоне, и опытные профессионалы, прошедшие специальную подготовку, прибудут к Вам для обеспечения Вашей безопасности. 
                #[br] #[br] Наши мобильные группы оперативного реагирования всегда находятся в боевой готовности 24 часа в сутки 7 дней в неделю.

            a(href="http://app.topsecurity.kz/",target="_blank")
                button Подробнее    
    section.alarm-button.mob
        h3 Дополнительные услуги 
        img(src=path + "alarm-hand.png", alt="")
        .alarm-content
            h2.
                Мобильный#[br]
                телохранитель.#[br]
                Защита 24/7
            span.
                Первое мобильное #[br] приложение #[br] -“Тревожная кнопка”, #[br] разработанное #[br]
                в Казахстане.
            a(href="http://app.topsecurity.kz/",target="_blank")
                button Подробнее     
                
       
                 