mixin benefit(data, index)
  if index !== 4
    figure.benefit
      img.benefit-img(src=data.img, alt=data.title)
      figcaption.benefit-caption
        h2.benefit-title!=data.title
        p.benefit-text!=data.text

  
mixin benefits() 
  section.benefits-wrap#benefits.spy-it
    .container
      .section-title.anim.slide-in-top 4 веские причины выбрать<br>Top Security KZ
      ul.benefits
        each item, index in benefits
          li.benefits-item.anim.slide-in-bot
            +benefit(item, index)
