mixin callback() 
  section.callback-wrap.anim.slide-in-bot#callback.spy-it
    .container
      .callback
        .callback-title Остались вопросы?
        .callback-desc Заполните поля и мы вам перезвоним!
        form.callback-form.ajax-form
          .input
            label.input-label(for="callback_name")
              i.input-label-icon.input-label-icon--user
              span Ваше имя
            input.input-value(type="text", required, id="callback_name", name="name")
          .input
            label.input-label(for="callback_phone") 
              i.input-label-icon.input-label-icon--phone
              span Номер телефона
            input.input-value(type="text", data-mask="+7 (000) 0000 000", required, id="callback_phone", name="phone")
          .input.callback-end
            button.btn.btn--primary(type="submit") Заказать
          .callback-form-message Ваше сообщение отправлено!