mixin footer-menu-item(data)
  li.footer-menu-item
    a.footer-menu-link.spy.js-scroll-to(href=data.href, title=data.name)!=data.name
mixin footer() 
  footer.footer#contacts.spy-it
    .container
      .footer-cols
        .footer-col
          nav.footer-menu
            ul.footer-menu-list
              each val in navbar.items
                +footer-menu-item(val)
        .footer-col
          .footer-logo
            a.footer-logo-link.spy.js-scroll-to(href="/", title="Top Security")
              img.footer-logo-img(src="assets/media/images/content/logo-ft.svg", alt="Top Secturity logotype")
          a.footer-tel(href="tel:+77273468318") +7 (727) 346 8318
          span.footer-desc *Бесплатный звонок по городу Алматы
        .footer-col
          .footer-socials
            a.footer-socials_item(href="https://www.facebook.com/topseckz/", target="_blank")
              img(src="assets/media/images/shared/vk.svg")
            a.footer-socials_item(href="https://vk.com/topsecuritykz", target="_blank")
              img(src="assets/media/images/shared/fb.svg")
            a.footer-socials_item(href="https://www.instagram.com/topsecurity.kz/", target="_blank")
              img(src="assets/media/images/shared/inst.svg")
          address.footer-address.
            <span>ТОО «Top Security KZ»</span><br>
            Адрес: Казахстан, г.Алматы,<br>
            мкр.Алатау, ул.Асемтау 58,<br>
            Телефон: <a href="tel:+77010840817">+7 (701) 084 0817</a><br>
            Email: <a href="mailto:info@topsecurity.kz">info@topsecurity.kz</a>
        .footer-col.footer-col--full
          .footer-copy.
            Copyright © 2018 Top Security KZ. All Rights Reserved

