mixin hero() 
  section.hero-wrap
    .container.container--flex
      .new-hero-wrap
        .overlay
        .hero
          .hero-caption
            h1.hero-caption_title.slide-in-right.anim Безопасность
              br
              | для всех
            p.hero-caption_text.slide-in-right.anim 
              | Надежная защита имущества
              br
              | за 5500 тг в месяц

            //- p.hero-caption_text.hero-caption_text--bigger.slide-in-right.anim Top Security лучший выбор!
            .hero-caption-footer.slide-in-right.anim
              a.btn.btn--big.btn--primary.js-scroll-to(href="#callback") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
          
              