mixin services() 
  section.services-wrap#services.spy-it
    .container.services
      h1.section-title.section-title--alt.anim.slide-in-top Что мы предлагаем
      p.services-text.anim.slide-in-bot Надежный удаленный контроль при помощи<br>беспроводной сигнализации и смартфона, в квартире, доме или офисе
      ul.services-list
        li.services-item.anim.slide-in-left
          figure.service
            img.service-img(
              src="assets/media/images/content/service-1.png",
              alt="Тревожная сигнализация")
            figcpation.service-label 
              a(href="#").service-link Тревожная сигнализация
        li.services-item.anim.slide-in-right
          figure.service
            img.service-img(
              src="assets/media/images/content/service-2.png",
              alt="Охранная сигнализация")
            figcpation.service-label
              a(href="#").service-link Охранная сигнализация